/*Comienzo cabecera General*/
*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: #0e2c36;
    font-family: 'Heebo', sans-serif;
    background-size: cover;
    background-position: center center;
    height: 100px;
    width: 1400px;
    padding-top: 10px;
    position:fixed;
    top: 0;
    z-index: 5;
    
}

.nav ul{
    list-style: none;
    display: flex;
}

.nav ul li a{
    text-decoration: none;
    color: #fff;
    text-transform:uppercase;
    margin-left: 20px;
    padding: 40px;
    transition: all .5s ease;

}

.nav{
    display: grid;
    grid-template-columns: 6fr 6fr;
    column-gap: 50px;
    align-items: center;
    justify-items: right;
    margin: left;
    padding-right: 10px;

}

.nav img{
    width: 90px;
    height: auto; 
    margin-left: 10px;
    margin-right: 20px;
    }

.nav ul li a:hover{
    color:#000;
    background: #fff;
  }
/*Fin cabecera General*/

/*Comienzo zona central Index*/
.Central{
    background-color: #415459;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 25px;
    padding-right: 5px;
}

.tituloSeccion{
    background: #849ca4;
    font-family: 'Heebo', sans-serif;
    color: #76182a;
    font-size: 56px;
    line-height: 28px;
    text-align: center;
    justify-content: center;
    padding: 25px;
}

#Intro{ 
    border-style: groove;
    border-radius: 5px;
    background: #849ca4;
    font-family: 'Heebo', sans-serif;
    color: #76182a;
    font-size: 21px;
    line-height: 28px;
    text-align: justify;
    padding:15px;
    word-spacing: 4px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.card-group{
    font-family: 'Heebo', sans-serif;
    color: #76182a;
    gap: 15px;
    margin: 8px 10px;
    padding: 20px;
    height: 100vh;
}

/*Fin zona central Index*/


/*Comienzo footer General*/
.Footer{
    margin-top: 6px;    
    padding-top: 40px;
    background-color: #0e2c36;
    font-family: 'Heebo', sans-serif;
    color: #fff;
    word-spacing: 50px;
    font-size: 18px;
    text-align: center;
    }

nav ul li{
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.firmaFooter{
    width: 70px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;    
    align-items: flex-start;
}

#contacto{
    margin-right: 4em;
    margin-left: 56em; 
    display: flex;
    justify-content:space-around;
    word-spacing: 5px;
    padding-bottom: 25px;
}

#firmaFooter{
    display: block;
    align-items: flex-start;
    text-align: left;
}
/*Fin footer General*/  


/*Comienzo zona central Servicios.html*/

.seccionesServicios{ 
    height: 600px;
    width: 1300px;
    background-color: #415459;
    background-position: center;
    background-repeat: repeat;
    font-family: 'Heebo', sans-serif;
    color: #fff;
    display:flex;
    justify-content: center;
    padding-top: 10px;
    margin-top: 10px;
    }

.containerServicios{
    height: 100px;
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding: 5px;
    border-radius: 10px;
    gap: 25px;
    }
    
.serv1 .serv2 .serv3 {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    margin: 3em;
}

.card-group{
    height: 100%;
    width: 100%;
}

.card-body{
    border-radius: 8%;
    box-shadow: #83939c;
    transition: all 0.25s;
}

/*Fin zona central Servicios.html*/


/*Comienzo zona central "Nosotros"*/
.gridContainer{
    height: 300px;
    width: 1200px;   
    display:grid;
    grid-template-rows: 640px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;  
    justify-content: space-around;
    padding: 30px 20px;
    margin-bottom: 30px;
}

.socia1{
    background-color:  #546c54;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    padding:20px 12px;
    text-align: center;
}

.socia2{
    background-color: #546c54;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    padding:20px 12px;
    text-align: center;
}

.socia3{
    background-color:  #546c54;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    padding:20px 12px;
    text-align: center;
}

.fotosocia1{
    width: 70%;
}

.fotosocia2{
    width: 70%;
}

.fotosocia3{
    width: 70%;
}

/*Fin zona central "Nosotros"*/


/*Comienzo zona central "Proyectos.html"*/
#backCarousel{
    margin-top: 80px;
    height: 100%;
    background-color: #415459;
    background-position: center;
    background-repeat: repeat;
    z-index: 1;
}

#carouselExampleFade{
    height: 50%;
    width: 90%;
}

.carousel, .carousel-inner > .item > img {
    margin-left: 60px;
    padding-top: 50px;
    padding-bottom: 30px;
    z-index: 1;
  }

/*Fin zona central "Proyectos.html"*/


/*Comienzo zona central central "Contacto.html"*/
.formularioContacto{
    height: 450px;
    padding: 50px; 
    margin-top: 50px;
    background-color: #415459;
    background-size: 100vw 100vh;
    font-family: 'Heebo', sans-serif;
}

form{
    height: 100px;
    width: 600px;
    padding-top: 40px;
    margin-right: 250px;
    background: rgba(0,0,0,0.1);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 30px;
    border-radius: 7px;
}

h2{
    color: #76182a;
    text-align: center;
    margin: 0;
    font-size: 5px;
    margin-bottom: 10px;
}

input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 5px;
    border-top: #83939c;
}

textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#boton{
background: #83939c;
color: #fff;
padding: 20px;
}

#boton:hover {
cursor: pointer;
}

@media (max-widht: 480px) {
    form{
        width: 100%;
    }
}

/*Fin zona central "Contacto.html"*/


/*Mobile First"*/

@media only screen and (max-width: 480px) {
    .mobileFirst{
    background-color: yellow;
    width: 100%;
    }
    .fotosCentral{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #Intro{
        width: 60%;
    }
    .menuIndex{
        display: flex;
        justify-items: space-evenly;
    }
}
@media only screen and (min-width: 767px) and (max-width: 949px) {
    .mobileFirst{
        background-color: orange;
    }
    .menu {
        display: flex;
        align-items:flex-start;
        text-align:center;
      }
      .menu a {
        text-align: left;
        margin: 5px;
    }
    .fotosCentral{
        display: flex;
        flex-direction: column;
        align-items: center;
 }
}