/*Comienzo cabecera General*/
*{
    margin: 0;
    padding: 0;
}

a:link, a:visited, a:active {
    text-decoration:none;
    color: #a06b74;
}

.headerHome{
    background-color: #0e2c36;
    height: 100px;
    margin-bottom: 5px;
}

header nav ul{
    width: 60%;
    float: right;
    font-family: 'Quicksand', sans-serif;
    color: #a06b74;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    word-spacing: 20px;
    font-size: 16px;
    list-style-type: none;
    padding-top: 40px;
}

.Logo{
float: left;
padding-left: 4em;
height: 100px;
width: 14%;
}

/*Fin cabecera General*/

/*Comienzo zona central Index*/
.Central{
    background-image: url(Images/Background_Image.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
/*Intenté utilizar opacity para que el fondo se diferencie de las imágenes, pero me toma toda la sección*/ 
}

#Intro{ 
    border-style: groove;
    border-radius: 5px;
    background: #83939c;
    font-family: 'Quicksand', sans-serif;
    color: #731c2c;
    font-size: 21px;
    line-height: 28px;
    text-align: justify;
    padding:15px;
    word-spacing: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.fotosCentral{
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding: 8px;
}

.imagenCentral1, .imagenCentral2, .imagenCentral3 {
    height: 350px;
    width: 350px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 10px;
}

/*Fin zona central Index*/

/*Comienzo footer General*/
.Footer{
    margin-top: 5px;    
    padding-top: 30px   ;
    background-color: #0e2c36;
    padding-bottom: 10px;
    font-family: 'Quicksand', sans-serif;
    color: hsl(350, 22%, 52%);
    word-spacing: 30px;
    font-size: 18px;
    text-align: center;
    }

.logoFooter{
    float: left;
    padding-top: 3px;
    padding-left: 1em;
    height: 6%;
    width: 6%;
}

nav ul li{
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.redesFooter1{
    width: 100px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;    
    align-items: flex-start;
}

#contacto{
    margin-right: 4em;
    margin-left: 56em; 
    display: flex;
    justify-content:space-around;
    word-spacing: 5px;
}
/*Fin footer General*/  

/*Comienzo zona central Servicios.html*/
.seccionesServicios{ 
    height: 600px;
    width: 1300px;
    background-image: url(Images/Background_Image.png);
    background-position: center;
    background-repeat: repeat;
    font-family: 'Quicksand', sans-serif;
    color: #731c2c;
    display:flex;
    justify-content: center;
    }

.containerServicios{
    height: 100px;
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding: 5px;
    border-radius: 10px;
    gap: 25px;
    }
    
.serv1 .serv2 .serv3 {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    margin: 3em;
}

.card-group{
    height: 100%;
    width: 100%;
}

.card-body{
    border-radius: 8%;
    box-shadow: #83939c;
    transition: all 0.25s;
}
/*Fin zona central Servicios.html*/

/*Comienzo zona central "Nosotros"*/

.gridContainer{
    height: 480px;
    width: 1115px;   
    display:grid;
    grid-template-rows: 650px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;  
    justify-content: space-around;
    padding: 30px 10px;
    margin-bottom: 30px;
}

.socia1{
    background-color: #a06b79;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    padding:20px 12px;
    text-align: center;
}

.socia2{
    background-color: #a06b79;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    padding:20px 12px;
    text-align: center;
}

.socia3{
    background-color: #a06b79;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    padding:20px 12px;
    text-align: center;
}

/*Fin zona central "Nosotros"*/

/*Comienzo zona central "Proyectos.html"*/
#backCarousel{
    background-color: #731c2c;
    background-position: center;
    background-repeat: repeat;
}
.carousel, .carousel-inner > .item > img {
    height: 40%;
    width: 40%;
    justify-content: center;
    margin-left: 25em;
    padding: 30px;
  }


/*Fin zona central "Proyectos.html"*/

/*Comienzo zona central central "Contacto.html"*/
.formularioContacto{
background-image: url(Images/Background_Image.png);
display: block;
margin-left: auto;
margin-right: auto; 
}

#imagenFormulario{
margin-left: 23rem;
margin-right: 23em; 
padding-top: 10px;
padding-bottom: 10px;
/*En este lugar está pensado un formulario de contacto para enviar email en lugar de la imagen*/
}
/*Fin zona central "Contacto.html"*/

/*Mobile First"*/

@media only screen and (max-width: 480px) {
    .mobileFirst{
    background-color: yellow;
    width: 100%;
    }
    .fotosCentral{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #Intro{
        width: 60%;
    }
    .menuIndex{
        display: flex;
        justify-items: space-evenly;
    }
}
@media only screen and (min-width: 767px) and (max-width: 949px) {
    .mobileFirst{
        background-color: orange;
    }
    .menu {
        display: flex;
        align-items:flex-start;
        text-align:center;
      }
      .menu a {
        text-align: left;
        margin: 5px;
    }
    .fotosCentral{
        display: flex;
        flex-direction: column;
        align-items: center;
        }    
}
@media only screen and (min-width: 980px) {
    .mobileFirst{
        background-color:red;
 }
}